.elementContainer {
  max-width: 100%;
  height: 100%;
  
}

.elementList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
  
  .letter {
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    margin: 0 0.5vw;
    transition: transform 0.5s ease-out;
    color: #CCABA2;
    opacity: .4;
    position: fixed;
    font-size:1em;
    top: calc(var(--random-y) * 100%);
    left: calc(var(--random-x) * 100%);
}

.message{
  width: 50%;
  margin: 0 auto;
  font-size: 2em;
  color: #fff;
  text-align: center;
}


.name{
  font-family: 'Roboto', sans-serif;
  color: #CCABA2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  text-align: center;
  margin-top:110px;
  margin-bottom: 5px;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px;
}

.welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #CCABA2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8em;
  text-align: center;

}

.button {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  cursor: pointer;
  color: #CCABA2;
}

.button:hover{
  color: #7a2f44;
}


@media only screen and (max-width:900px) {
 
  .name{
    margin-top:110px;
  
  }


}